<div class="container-fluid" layout="column" layout-align="start center">
	<div style="height: 8rem; width: 100%; background: #eee;"></div>
	<div class="container" layout="column" layout-align="center center" style="position: relative; top: -5rem;">
		<div style="width: 10rem; height: 10rem; border-radius: 50%;
		background: url({{user.bilde || 'assets/images/avatar.jpg'}}) center;
		background-size: cover; overflow: hidden; border: 0.3rem solid white;
		margin-bottom: 1em;">
		</div>
		<div class="md-display-1">{{user.fornavn+' '+user.etternavn}}</div>
		<div class="md-subhead" style="text-align: center; max-width:40rem; margin: 1em 0;">
		{{user.adresse+' | '+user.email+ ' | '+user.tlf}}</div>
		<div class="md-subhead" style="text-align: center; max-width:40rem; margin: 1em 0;">{{user.bio}}</div>
		<div layout="row">
			<md-button><i class="fa fa-book fa-2x"></i></md-button>
			<md-button><i class="fa fa-expeditedssl fa-2x"></i></md-button>
			<md-button><i class="fa fa-google fa-2x"></i></md-button>
			<md-button><i class="fa fa-facebook fa-2x"></i></md-button>
		</div>
	</div>
	<div class="container">
		<div class="md-body-2" style="margin-left: 2rem;">Filer</div>
		<md-card style="border: 1px solid #ddd; border-radius: 4px; padding: 1em; margin: 1rem;" layout="column">
			<div layout="row">
				<div ng-repeat="fil in user.filer" ng-click="">
						<i class="fa fa-file-pdf-o"></i>
						<object>{{fil.navn}}</object>
					</div>
			</div>
		</md-card>
	</div>
	<md-list-iten class="container" ng-repeat="(cardname,content) in user.cards">
		<div class="md-body-2" style="margin-left: 2rem;">{{cardname}}</div>
		<md-card style="border: 1px solid #ddd; border-radius: 4px; padding: 2em; margin: 1rem;" layout="column">
			<div layout="row" ng-repeat="(description, text) in content" style="margin:0.5em 0">
				<div style="min-width: 200px; border-right: 1px solid #ddd; text-transform: uppercase;" class="md-body-2">{{description}}</div>
				<div flex style="margin-left: 2em;" class="md-body-1">{{text}}</div>
			</div>

		</md-card>
	</md-list-item>
	
</div>
