<div class="container-fluid" layout="column" layout-align="start center">
	<div style="height: 8rem; width: 100%; background: #eee;"></div>
	<div class="container" layout="column" layout-align="center center" style="position: relative; top: -5rem;">
		<div style="width: 10rem; height: 10rem; border-radius: 50%;
		background: url('assets/images/boards/2016/glenn.jpg') center;
		background-size: cover; overflow: hidden; border: 0.3rem solid white;
		margin-bottom: 1em;">
		</div>
		<div class="md-display-1">Navn Navnesen</div>
		<div class="md-subhead" style="text-align: center; max-width:40rem; margin: 1em 0;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam voluptate quis suscipit, praesentium placeat! Laudantium dolore, odio sequi eligendi veniam, similique assumenda quasi, quibusdam modi distinctio neque atque tenetur ab!</div>
		<div layout="row">
			<md-button><i class="fa fa-book fa-2x"></i></md-button>
			<md-button><i class="fa fa-expeditedssl fa-2x"></i></md-button>
			<md-button><i class="fa fa-google fa-2x"></i></md-button>
			<md-button><i class="fa fa-facebook fa-2x"></i></md-button>
		</div>
	</div>
	<div class="container">
		<div class="md-body-2" style="margin-left: 2rem;">Filer</div>
		<md-card style="border: 1px solid #ddd; border-radius: 4px; padding: 1em; margin: 1rem;" layout="column">
			<div layout="row">
				<span class="md-body-1">ingen filer</span>
			</div>
		</md-card>
	</div>
	<div class="container">
		<div class="md-body-2" style="margin-left: 2rem;">About</div>
		<md-card style="border: 1px solid #ddd; border-radius: 4px; padding: 2em; margin: 1rem;" layout="column">
			<div layout="row">
				<div style="min-width: 200px; border-right: 1px solid #ddd; text-transform: uppercase;" class="md-body-2">What i do</div>
				<div flex style="margin-left: 2em;" class="md-body-1">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste exercitationem assumenda error suscipit cumque voluptates, pariatur, consequatur porro quaerat incidunt recusandae molestias quibusdam dicta inventore quod voluptatibus culpa beatae accusantium!
				</div>
			</div>
			<div layout="row" style="margin-top: 2em;">
				<div style="min-width: 200px; border-right: 1px solid #ddd; text-transform: uppercase;" class="md-body-2">Achievements</div>
				<div flex style="margin-left: 2em;" class="md-body-1">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste exercitationem assumenda error suscipit cumque voluptates, pariatur, consequatur porro quaerat incidunt recusandae molestias quibusdam dicta inventore quod voluptatibus culpa beatae accusantium!
				</div>
			</div>
		</md-card>
	</div>
	<div class="container">
		<div class="md-body-2" style="margin-left: 2rem;">References</div>
		<md-card style="border: 1px solid #ddd; border-radius: 4px; padding: 2em; margin: 1rem;" layout="column">
			<div layout="row">
				<div style="min-width: 200px; border-right: 1px solid #ddd; text-transform: uppercase;" class="md-body-2">What i do</div>
				<div flex style="margin-left: 2em;" class="md-body-1">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste exercitationem assumenda error suscipit cumque voluptates, pariatur, consequatur porro quaerat incidunt recusandae molestias quibusdam dicta inventore quod voluptatibus culpa beatae accusantium!
				</div>
			</div>
			<div layout="row" style="margin-top: 2em;">
				<div style="min-width: 200px; border-right: 1px solid #ddd; text-transform: uppercase;" class="md-body-2">Achievements</div>
				<div flex style="margin-left: 2em;" class="md-body-1">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste exercitationem assumenda error suscipit cumque voluptates, pariatur, consequatur porro quaerat incidunt recusandae molestias quibusdam dicta inventore quod voluptatibus culpa beatae accusantium!
				</div>
			</div>
		</md-card>
	</div>





	<div class="container" style="border: 1px solid #ddd; border-radius: 4px; padding: 2em; margin: 1rem; display: none;" layout="column">
		<div layout="row">
			<div style="border-right: 1px solid #ddd; min-width: 200px; text-transform: uppercase;" class="md-body-2">What i do</div>
			<div flex style="margin-left: 2em;" class="md-body-1">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste exercitationem assumenda error suscipit cumque voluptates, pariatur, consequatur porro quaerat incidunt recusandae molestias quibusdam dicta inventore quod voluptatibus culpa beatae accusantium!
			</div>
		</div>
		<div layout="row" style="margin-top: 2em;">
			<div style="border-right: 1px solid #ddd; min-width: 200px; text-transform: uppercase;" class="md-body-2">Achievements</div>
			<div flex style="margin-left: 2em;" class="md-body-1">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste exercitationem assumenda error suscipit cumque voluptates, pariatur, consequatur porro quaerat incidunt recusandae molestias quibusdam dicta inventore quod voluptatibus culpa beatae accusantium!
			</div>
		</div>
	</div>
</div>
