  <md-chips ng-model="TagController.selectedTags" md-autocomplete-snap="" md-transform-chip="TagController.transformChip($chip)" md-require-match="requirematch">
  	<md-autocomplete md-selected-item="TagController.selectedItem" md-search-text="TagController.searchText" md-items="item in TagController.querySearch(TagController.searchText)" md-item-text="item.navn" placeholder="legg til tags">
  		<span md-highlight-text="TagController.searchText">{{item.navn}}</span>
  	</md-autocomplete>
  	 <md-chip-template>
  		<span>
  				<strong>{{$chip.navn}}</strong>
  				<em ng-if="$chip.type == 'new'">({{$chip.type}})</em>
  		</span>
  	</md-chip-template>
  </md-chips>
