/* variables */
/* inject:mixins:less */
/* endinject */
/* base */
/*---------- TYPHOGRAFY ----------*/
/* Root elements (use pixels) */
html {
  font-size: 17px !default;
}
/* Standard document elements (use rem) */
.header {
  font-size: 1.5rem;
}
.footer {
  font-size: 0.75rem;
}
.sidebar {
  font-size: 0.85rem;
}
/* Standard module elements (use em) */
h1 {
  font-size: 3em !default;
}
h2 {
  font-size: 2.5em !default;
}
h3 {
  font-size: 2em !default;
}
h4 {
  font-size: 1.5em !default;
}
h5 {
  font-size: 1em !default;
}
/* Links */
a {
  text-decoration: none;
  color: inherit;
}
.container,
.container-fluid {
  position: relative;
  font-size: 1rem;
}
.container {
  width: 90%;
  max-width: 1200px;
}
.container-fluid {
  width: 100%;
}
@media (max-width: 599px) {
  .container {
    font-size: 0.9rem;
    width: 100%;
  }
}
@media (max-width: 400px) {
  .container {
    font-size: 0.8rem;
  }
}
.container-padding {
  padding-left: 10px;
  padding-right: 10px;
}
.section-padding {
  padding: 2em 10px;
}
.section-padding-2x {
  padding: 4em 10px;
}
/* inject:components:less */
nav#et-navbar {
  position: relative;
  font-size: 14px;
  height: 5em;
  background-color: #fefefe;
}
nav#et-navbar > .container {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
  height: inherit;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
nav#et-navbar .brand {
  width: 4.5em;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
nav#et-navbar .brand > img {
  width: 100%;
  box-sizing: border-box;
  padding: 0.2em 1em;
}
nav#et-navbar .navbar-nav {
  position: relative;
  cursor: pointer;
  padding: 0 1em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #a03033;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background-color: transparent;
  transition: background-color 0.4s ease-in-out;
}
nav#et-navbar .navbar-nav > * {
  padding: 0.1em;
}
nav#et-navbar .navbar-nav:hover {
  background-color: rgba(160, 48, 51, 0.08);
}
@media (max-width: 650px) {
  nav#et-navbar > .container {
    max-width: 500px;
  }
  nav#et-navbar > .container > .brand {
    width: 4em;
  }
  nav#et-navbar > .container > .navbar-nav {
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  nav#et-navbar > .container > .navbar-nav > i {
    margin: 0 auto;
  }
  nav#et-navbar > .container > .flex,
  nav#et-navbar > .container .navbar-nav > span {
    display: none;
  }
}
/* endinject */
/* inject:partials:less */
.board-links {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.board-cards-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.board-cards-container .board-cards {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1500px;
}
.board-cards-container .board-cards .board-card {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../../../assets/images/ETlogos/logo.svg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 7em;
  width: 300px;
  margin: 0px;
  padding: 0px;
}
.board-cards-container .board-cards .board-card .board-card-image {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-size: cover;
  margin: 10px 20px;
  border: 1px solid #a03033;
}
.board-cards-container .board-cards .board-card a {
  text-decoration: none;
  color: #a03033;
}
.board-cards-container .board-cards .board-card name {
  font-weight: bold;
}
#board-background {
  background-color: #ef5350;
}
.fb-link {
  width: 10em;
  height: 5em;
  padding: 1em;
}
.fb-link .link-img {
  background: url("/assets/images/icons/facebook.png") center no-repeat;
  background-size: contain;
}
.google-link {
  width: 10em;
  height: 5em;
  padding: 1em;
}
.google-link .link-img {
  background: url("/assets/images/icons/google.png") center no-repeat;
  background-size: contain;
}
.feide-link {
  width: 10em;
  height: 5em;
  padding: 1em;
}
.feide-link .link-img {
  background: url("/assets/images/icons/feide.png") center no-repeat;
  background-size: contain;
}
.ntnu-link {
  width: 10em;
  height: 5em;
  padding: 1em;
}
.ntnu-link .link-img {
  background: url("/assets/images/icons/ntnu.png") center no-repeat;
  background-size: contain;
}
.login-container {
  max-width: 30em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.forgot-container {
  max-width: 30em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
#googlemaps {
  width: 500px;
  height: 400px;
}
.circular {
  border-radius: 50%;
  overflow: hidden;
}
.circular-200 {
  width: 200px;
  height: 200px;
}
.facebook-link {
  color: #133783;
  font-weight: 900;
}
.animate-repeat {
  line-height: 40px;
  list-style: none;
  box-sizing: border-box;
}
#settings-view {
  max-width: 1000px;
}
.custom-user-field {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
}
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}
.video-wrapper > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.programme-header {
  background-color: #fff;
  font-size: 1rem;
}
.programme-header > .header-content {
  margin-top: 20px;
}
.programme-header > .header-content img {
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0 2em;
  width: 5em;
}
.programme-header > .header-content .md-display-2 {
  font-size: 3em;
  line-height: 2em;
}
.programme-header > .header-content .md-title {
  font-size: 2.2em;
  margin-left: 2.5em;
}
.skew-lb,
.skew-rb {
  position: relative;
}
.skew-lb > *,
.skew-rb > * {
  z-index: 1;
}
.skew-lb:before,
.skew-rb:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: inherit;
  top: 50%;
}
.skew-lb:before {
  -webkit-transform: skewY(-3deg);
          transform: skewY(-3deg);
}
.skew-rb:before {
  -webkit-transform: skewY(3deg);
          transform: skewY(3deg);
}
@media (min-width: 600px) {
  #promo-section {
    background: url('/assets/images/ETlogos/logo.svg') no-repeat;
    background-size: 50% 250%;
    background-position: 100% 50%;
    padding: 3% 0;
  }
}
#et-profile {
  background-color: #eee;
}
#profile-main {
  max-width: 1000px;
}
#profile-picture {
  border-style: solid;
  border-width: 1px;
  border-color: #b71c1c;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  margin: 10px;
  margin-bottom: 20px;
}
.profile-basics-table {
  line-height: 100%;
}
.profile-basics-table td {
  vertical-align: top;
}
.profile-basics-table i {
  opacity: 0.6;
}
.profile-basics-table span {
  opacity: 0.5;
}
h2:hover {
  cursor: pointer;
}
h2:hover span {
  display: inline;
}
#profiles-container {
  max-width: 1024px;
}
#filter-button {
  min-width: 0px;
}
.animate-repeat {
  line-height: 40px;
  list-style: none;
  box-sizing: border-box;
}
/* endinject */

/*# sourceMappingURL=main.css.map */
