/* variables */
/* inject:mixins:less */
/* endinject */
/* base */
.et-section {
  padding: 50px 0;
}
.et-w70 {
  width: 70%;
}
.et-w70c {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.et-w80 {
  width: 80%;
}
.et-w80c {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.et-w90 {
  width: 90%;
}
.et-w90c {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.et-w100 {
  width: 100%;
}
.et-w100c {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.et-col-single {
  width: 300px;
  margin: 0 10px;
}
.et-col-double {
  width: 620px;
  margin: 0 10px;
}
.et-col-50p {
  width: 50%;
  margin: 0 10px;
}
.flex-col-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.flex-col-wrap-start {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.flex-col-wrap-end {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.flex-col-wrap-center {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.flex-col-wrap-between {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.flex-col-wrap-around {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.flex-col {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.flex-col-start {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.flex-col-end {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.flex-col-center {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.flex-col-between {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.flex-col-around {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.flex-row-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.flex-row-wrap-start {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.flex-row-wrap-end {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.flex-row-wrap-center {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.flex-row-wrap-between {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.flex-row-wrap-around {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.flex-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.flex-row-start {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.flex-row-end {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.flex-row-center {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.flex-row-between {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.flex-row-around {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.flex-r1 {
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}
.flex-l1 {
  -webkit-order: -1;
      -ms-flex-order: -1;
          order: -1;
}
.flex-r2 {
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}
.flex-l2 {
  -webkit-order: -2;
      -ms-flex-order: -2;
          order: -2;
}
.flex-0 {
  -webkit-order: 0;
      -ms-flex-order: 0;
          order: 0;
}
.flex-static {
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
#description {
  background-color: #36a;
}
#program {
  background-color: #a36;
}
#main_sponsor {
  background-color: #6a3;
}
#prices {
  background-color: #ccc;
}
#main_partner {
  background-color: #971;
}
#partners {
  background-color: #197;
}
#sponsors {
  background-color: #719;
}
/* inject:components:less */
nav#et-navbar {
  position: relative;
  font-size: 14px;
  height: 5em;
  background-color: #fefefe;
}
nav#et-navbar > .container {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
  height: inherit;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
nav#et-navbar .brand {
  width: 4.5em;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
nav#et-navbar .brand > img {
  width: 100%;
  box-sizing: border-box;
  padding: 0.2em 1em;
}
nav#et-navbar .navbar-nav {
  position: relative;
  cursor: pointer;
  padding: 0 1em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #a03033;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background-color: transparent;
  transition: background-color 0.4s ease-in-out;
}
nav#et-navbar .navbar-nav > * {
  padding: 0.1em;
}
nav#et-navbar .navbar-nav:hover {
  background-color: rgba(160, 48, 51, 0.08);
}
@media (max-width: 650px) {
  nav#et-navbar > .container {
    max-width: 500px;
  }
  nav#et-navbar > .container > .brand {
    width: 4em;
  }
  nav#et-navbar > .container > .navbar-nav {
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  nav#et-navbar > .container > .navbar-nav > i {
    margin: 0 auto;
  }
  nav#et-navbar > .container > .flex,
  nav#et-navbar > .container .navbar-nav > span {
    display: none;
  }
}
.newsWidget {
  background-color: rgba(255, 255, 255, 0.5);
}
/* endinject */
/* inject:partials:less */
.circular {
  width: 300px;
  height: 300px;
  border-radius: 150px;
}
.vcards {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.vcards .vcard {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../../../assets/images/ETlogos/logo.svg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 7em;
  width: 300px;
  margin: 10px;
  padding: 2px;
}
.vcards .vcard .vcard-image {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-size: cover;
  margin: 0px 10px;
  border: 1px solid #a03033;
}
.vcards .vcard span {
  font-weight: bold;
}
.paginator {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.login-container {
  margin: 0 auto;
  padding: 50px 0;
  max-width: 300px;
  text-align: center;
}
.login-container .login-btn-group-vertical > .btn {
  margin: 2px 0;
}
.login-container .login-header {
  margin: 25px 0 5px 0;
}
.login-container .login-content {
  padding: 15px 5px;
}
.login-container .login-separator {
  margin: 15px 0;
}
.login-container .login-separator:before,
.login-container .login-separator:after {
  background-color: #aaa;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 40%;
}
.login-container .login-separator > .separator-text {
  padding: 0 15px;
}
.page-section#page-news {
  background-color: #D32F2F;
}
.page-section {
  position: relative;
  box-sizing: border-box;
  padding: 1.5em;
  transition: all 400ms ease-in-out;
}
@media (max-width: 800px) and (min-width: 501px) {
  .page-section {
    padding: 0.6em;
  }
}
@media (max-width: 500px) {
  .page-section {
    padding: 0.4em;
  }
}
/* endinject */

/*# sourceMappingURL=main.css.map */