.et-section {
  padding: 50px 0;
}
.et-w70 {
  width: 70%;
}
.et-w70c {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.et-w80 {
  width: 80%;
}
.et-w80c {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.et-w90 {
  width: 90%;
}
.et-w90c {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.et-w100 {
  width: 100%;
}
.et-w100c {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.et-col-single {
  width: 300px;
  margin: 0 10px;
}
.et-col-double {
  width: 620px;
  margin: 0 10px;
}
.et-col-50p {
  width: 50%;
  margin: 0 10px;
}
.flex-col-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.flex-col-wrap-start {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.flex-col-wrap-end {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.flex-col-wrap-center {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.flex-col-wrap-between {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}
.flex-col-wrap-around {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}
.flex-col {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.flex-col-start {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.flex-col-end {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
}
.flex-col-center {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}
.flex-col-between {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.flex-col-around {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.flex-row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.flex-row-wrap-start {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.flex-row-wrap-end {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.flex-row-wrap-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.flex-row-wrap-between {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.flex-row-wrap-around {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.flex-row-start {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.flex-row-end {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}
.flex-row-center {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.flex-row-between {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.flex-row-around {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.flex-r1 {
  order: 1;
}
.flex-l1 {
  order: -1;
}
.flex-r2 {
  order: 2;
}
.flex-l2 {
  order: -2;
}
.flex-0 {
  order: 0;
}
.flex-static {
  flex: 0 0 auto;
}
#description {
  background-color: #36a;
}
#program {
  background-color: #a36;
}
#main_sponsor {
  background-color: #6a3;
}
#prices {
  background-color: #ccc;
}
#main_partner {
  background-color: #971;
}
#partners {
  background-color: #197;
}
#sponsors {
  background-color: #719;
}
.navbar {
  margin-bottom: 0;
}
.navbar-xs {
  position: relative;
  min-height: 20px;
  border: 1px solid transparent;
  height: 20px;
}
.navbar-sm {
  position: relative;
  min-height: 20px;
  border: 1px solid transparent;
  height: 40px;
}
.navbar-md {
  position: relative;
  min-height: 20px;
  border: 1px solid transparent;
  height: 60px;
}
.navbar-lg {
  position: relative;
  min-height: 20px;
  border: 1px solid transparent;
  height: 80px;
}
.navbar-xl {
  position: relative;
  min-height: 20px;
  border: 1px solid transparent;
  height: 100px;
}
.navbar-et.navbar {
  background-color: #f9f9f9;
  border-color: #cccccc;
}
.navbar-et.navbar .navbar-brand {
  color: #a03033;
  padding: 0;
  margin-right: 10px;
}
.navbar-et.navbar .navbar-brand:hover,
.navbar-et.navbar .navbar-brand:focus {
  color: #a03033;
  background-color: inherit;
}
.navbar-et.navbar .navbar-brand > img {
  height: 95%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.navbar-et.navbar .navbar-text {
  color: #a03033;
}
.navbar-et.navbar .navbar-nav > li > a {
  color: #a03033;
}
.navbar-et.navbar .navbar-nav > li > a:hover,
.navbar-et.navbar .navbar-nav > li > a:focus {
  color: #a03033;
  background-color: #f4f4f4;
}
.navbar-et.navbar .navbar-nav > .active > a,
.navbar-et.navbar .navbar-nav > .active > a:hover,
.navbar-et.navbar .navbar-nav > .active > a:focus {
  color: #a03033;
  background-color: #f4f4f4;
}
.navbar-et.navbar .navbar-nav > .disabled > a,
.navbar-et.navbar .navbar-nav > .disabled > a:hover,
.navbar-et.navbar .navbar-nav > .disabled > a:focus {
  color: #cb5255;
  background-color: #f9f9f9;
}
.navbar-et.navbar .navbar-toggle {
  border-color: #a03033;
}
.navbar-et.navbar .navbar-toggle:hover,
.navbar-et.navbar .navbar-toggle:focus {
  background-color: #f4f4f4;
}
.navbar-et.navbar .navbar-toggle .icon-bar {
  background-color: #a03033;
}
.navbar-et.navbar .navbar-collapse,
.navbar-et.navbar .navbar-form {
  border-color: #cccccc;
  background-color: #f9f9f9;
}
.navbar-et.navbar .navbar-nav > .open > a,
.navbar-et.navbar .navbar-nav > .open > a:hover,
.navbar-et.navbar .navbar-nav > .open > a:focus {
  background-color: #f4f4f4;
  color: #a03033;
}
@media (max-width: 767px) {
  .navbar-et.navbar .navbar-nav .open .dropdown-menu > li > a {
    color: #a03033;
  }
  .navbar-et.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-et.navbar .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #a03033;
    background-color: #f4f4f4;
  }
  .navbar-et.navbar .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-et.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-et.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #a03033;
    background-color: #f4f4f4;
  }
  .navbar-et.navbar .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-et.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-et.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cb5255;
    background-color: #f9f9f9;
  }
}
.navbar-et.navbar .navbar-link {
  color: #a03033;
}
.navbar-et.navbar .navbar-link:hover {
  color: #a03033;
}
.navbar-et.navbar .btn-link {
  color: #a03033;
}
.navbar-et.navbar .btn-link:hover,
.navbar-et.navbar .btn-link:focus {
  color: #a03033;
}
.navbar-et.navbar .btn-link[disabled]:hover,
fieldset[disabled] .navbar-et.navbar .btn-link:hover,
.navbar-et.navbar .btn-link[disabled]:focus,
fieldset[disabled] .navbar-et.navbar .btn-link:focus {
  color: #cb5255;
}
.et-navbar {
  position: relative;
  width: 100%;
  background-color: white;
  height: 60px;
}
.et-navbar .navbar-container {
  position: relative;
  height: inherit;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}
.et-navbar .navbar-container .navbar-logo {
  height: inherit;
  margin: 0 10px;
}
.et-navbar .navbar-container .navbar-logo img {
  height: 100%;
  padding: 4px 10px;
}
.et-navbar .navbar-container .navbar-navs {
  height: inherit;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}
.et-navbar .navbar-container .navbar-navs .navbar-list {
  height: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.et-navbar .navbar-container .navbar-navs .navbar-list li {
  height: inherit;
  line-height: 60px;
}
.et-navbar .navbar-container .navbar-navs .navbar-list li:hover,
.et-navbar .navbar-container .navbar-navs .navbar-list li.active {
  background-color: #f5f5f5;
}
.et-navbar .navbar-container .navbar-navs .navbar-list li a {
  color: #a03033;
  text-decoration: none;
  position: relative;
  display: block;
  padding: 0 15px;
}
#navbar-list-left li:last-child {
  display: none;
}
@media (max-width: 700px) {
  .et-navbar .navbar-container {
    width: 100%;
  }
  .et-navbar .navbar-container .navbar-navs .navbar-list {
    width: 100%;
    justify-content: space-around;
  }
  .et-navbar .navbar-container .navbar-navs .navbar-list li {
    flex-grow: 1;
    text-align: center;
  }
  .et-navbar .navbar-container #navbar-list-left li:last-child {
    display: list-item;
  }
  #navbar-list-right,
  .navbar-list li a span {
    display: none;
  }
}
.login-container {
  margin: 0 auto;
  padding: 50px 0;
  max-width: 300px;
  text-align: center;
}
.login-container .login-btn-group-vertical > .btn {
  margin: 2px 0;
}
.login-container .login-header {
  margin: 25px 0 5px 0;
}
.login-container .login-content {
  padding: 15px 5px;
}
.login-container .login-separator {
  margin: 15px 0;
}
.login-container .login-separator:before,
.login-container .login-separator:after {
  background-color: #aaa;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 40%;
}
.login-container .login-separator > .separator-text {
  padding: 0 15px;
}
