<div id="page-info" class="container-fluid">

	<section class="container-fluid section-padding" layout-align="start center" layout="column" ng-cloak>
		<div class="container">
			<h2 class="md-title">
				Om Elektronikk- og teknologidagen
			</h2>
			<p class="md-body-1">
				Elektronikk- &amp; Teknologidagen, forkortet E&amp;T-dagen, er en bedriftsdag som arrangeres ved NTNU Gløshaugen hvert år. Dagen blir arrangert av tredjeårsstudenter som studerer elektronikk ved NTNU. Flere store og små bedrifter som er sentrale innen elektronikk blir invitert til å delta på dagen. Formålet med E&amp;T-dagen er å skape bånd mellom studentene og bedriftene. Dette blir gjort gjennom stands, konkurranser, bedriftspresentasjoner og mer. Dagen appellerer til studenter fra ulike linjer ved NTNU, og det er flere hundre studenter innom i løpet av dagen.
			</p>
		</div>
	</section>
	<section class="container-fluid section-padding" layout-align="start center" layout="column" ng-cloak>
		<div class="container">
			<h1 class="md-display-1">For bedrifter</h1>
			<h2 class="md-title">
				Oppfølging
			</h2>
			<p class="md-body-1">
				Ved ankomst vil dere møte bedriftskontakten deres, som vil vise dere til oppholdsrommet, der en kan legge fra seg eiendeler. I oppholdsrommet vil det bli servert lunsj og andre forfriskninger under arrangementet. Det vil alltid være representanter for Elektronikk- og Teknologidagen til stedet, som dere kan ta kontakt med.
			</p>
			<div class="md-title">Sommerjobbmaraton</div>
			<p class="md-body-1">
				Under Elektronikk- og Teknologidagen {{app.year}} vil det arrangeres sommerjobbmaraton. Da vil bedriftene kunne presentere de sommerjobbene de lyser ut for studentene i en 7 min lang presentasjon. Det vil bli satt opp intervjurom for de bedriftene som deltar på sommerjobbmaraton på ettermiddagen 28. januar og på dagen 29. januar.
			</p>
			<div class="md-title">
				Parkering
			</div>
			<p class="md-body-1">
				Parkering for besøkende på NTNUs områder er avgiftsbelagte, 25 kroner per time. Det vil være muligheter for å parkere i sone A, B eller D. Parkeringskart finnes 
				<a href="https://innsida.ntnu.no/c/wiki/get_page_attachment?p_l_id=22780&nodeId=24647&title=Parkeringsregler+p%C3%A5+NTNU&fileName=Sonekart_Gl%C3%B8s_Feb2015.pdf" style="color: blue;">her</a>.
				 Mer informasjon om parkeringsmuligheter kan du finne <a href="https://innsida.ntnu.no/wiki/-/wiki/Norsk/Parkeringsregler+p%C3%A5%20NTNU" style="color: blue;">her</a>.
			</p>
		</div>
	</section>
</div>
