<div id="page-info" class="container-fluid">
	<!-- Generell informasjon -->
	<section class="container-fluid" layout-align="start center" layout="column" ng-cloak>
		<div class="container">
			<h2 class="md-title">
				Om Elektronikk- og teknologidagen
			</h2>
			<p align="justify">
				Elektronikk &amp; Teknologidagen, forkortet E&amp;T-dagen, er en bedriftsdag som arrangeres ved NTNU Gløshaugen hvert år. Dagen blir arrangert av tredjeårsstudenter som studerer elektronikk ved NTNU. Flere store og små bedrifter som er sentrale innen elektronikk blir invitert til å delta på dagen. Formålet med E&amp;T-dagen er å skape bånd mellom studentene og bedriftene. Dette blir gjort gjennom stands, konkurranser, bedriftspresentasjoner og mer. Dagen appellerer til studenter fra ulike linjer ved NTNU, og det er flere hundre studenter innom i løpet av dagen. Inntektene fra E&amp;T-dagen blir brukt til studietur for tredjeårsstudentene.
			</p>
		</div>
	</section>
	<!-- Standutstyr -->
	<section class="container-fluid" layout-align="start center" layout="column" ng-cloak>
		<div class="container">
			<h2 class="md-title">
				Standutstyr
			</h2>
			Må 3D-printes på rom EL5714 innen 31/12/2121.
		</div>
	</section>
	<!-- Oppfølging -->
	<section class="container-fluid" layout-align="start center" layout="column" ng-cloak>
		<div class="container">
			<h2 class="md-title">
				Oppfølging
			</h2>
			<ul>
				<li>mottagelse</li>
				<li>pauserom</li>
				<li>mat</li>
			</ul>
		</div>
	</section>
	<!-- Parkering -->
	<section class="container-fluid" layout-align="start center" layout="column" ng-cloak>
		<div class="container">
			<h2 class="md-title">
				Parkering
			</h2>
			Besøkende kan parkere på taket til GFK nede i dalen.
		</div>
	</section>
	<!-- Masse info -->
	<section class="container-fluid" layout-align="start center" layout="column" ng-cloak>
		<div class="container">
			<h2 class="md-title">
				Masse info
			</h2>
			<p align="justify">
				 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis in pretium lectus. In posuere metus quis luctus mollis. Morbi vehicula iaculis arcu, facilisis ultricies nisl pulvinar eget. Fusce ornare massa diam, euismod posuere eros elementum vel. Morbi laoreet odio eu neque faucibus tristique. Curabitur eget fringilla est, eget viverra justo. Fusce non pharetra ligula. Aenean consequat ultrices maximus. Vestibulum maximus ex ipsum, nec rhoncus neque posuere eu. Donec luctus porttitor scelerisque. Aenean sem ipsum, feugiat et magna eu, vestibulum porttitor ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed neque a nibh vulputate aliquet eget quis turpis.
			</p>
			<p>
				 Vestibulum eu eros finibus, imperdiet justo eget, tempor tellus. Nunc dapibus maximus nisi a facilisis. Sed luctus aliquam euismod. Nunc consectetur suscipit metus eget rutrum. Morbi tellus urna, rutrum ac sem sit amet, fringilla elementum leo. Morbi porttitor, urna nec fermentum elementum, eros est viverra augue, id suscipit neque purus a tortor. Nunc a tempus leo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin ut nisl elit. Vivamus eu est consequat, finibus metus semper, sagittis tortor.
			</p>
		</div>
	</section>
	<!-- Aktiviteter -->
	<section class="container-fluid" layout-align="start center" layout="column" ng-cloak>
		<div class="container">
			<h2 class="md-title">
				Aktiviteter
			</h2>
			<md-grid-list md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px" >
				<md-grid-tile>
					<img src="assets/images/balloons.jpg" alt="" height="100%" width="100%">
					<md-grid-tile-footer>
						<h3>Ballongslipp</h3>
					</md-grid-tile-footer>
				</md-grid-tile>
				<md-grid-tile>
					<img src="assets/images/stand.jpg" alt="" height="100%" width="100%">
					<md-grid-tile-footer>
						<h3>Stands</h3>
					</md-grid-tile-footer>
				</md-grid-tile>
				<md-grid-tile>
					<img src="assets/images/eating.jpg" alt="" height="100%" width="100%">
					<md-grid-tile-footer>
						<h3>Bespisning</h3>
					</md-grid-tile-footer>
				</md-grid-tile>
			</md-grid-list>
		</div>
	</section>
</div>









<!--
<div class="et-section flex-row-center" id="description">
	<div class="et-col-double">
		Elektronikk &amp; Teknologidagen, forkortet E&amp;T-dagen, er en bedriftsdag som arrangeres ved NTNU Gløshaugen hvert år. Dagen blir arrangert av tredjeårsstudenter som studerer elektronikk ved NTNU. Flere store og små bedrifter som er sentrale innen elektronikk blir invitert til å delta på dagen. Formålet med E&amp;T-dagen er å skape bånd mellom studentene og bedriftene. Dette blir gjort gjennom stands, konkurranser, bedriftspresentasjoner og mer. Dagen appellerer til studenter fra ulike linjer ved NTNU, og det er flere hundre studenter innom i løpet av dagen. Inntektene fra E&amp;T-dagen blir brukt til studietur for tredjeårsstudentene.
	</div>
</div>
<div class="et-section flex-row-center" id="program">
	<table class="table table-striped et-col-single">
		<tbody>
			<tr>
				<td>08:00</td>
				<td>Ballongslipp</td>
				<td>info</td>
			</tr>
			<tr>
				<td>09:00</td>
				<td>Bedpress med _Bedrift_</td>
				<td>info</td>
			</tr>
			<tr>
				<td>10:00</td>
				<td>Bedpress med _Bedrift_</td>
				<td>info</td>
			</tr>
			<tr>
				<td>11:00</td>
				<td>Konkurranse</td>
				<td>info</td>
			</tr>
			<tr>
				<td>12:00</td>
				<td>Ballongslipp</td>
				<td>info</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="et-section flex-row-center" id="main_sponsor">
	<div class="card et-col-single">
		IMG
	</div>
	<div class="et-col-single">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium libero veniam aspernatur explicabo eius, voluptatem consequatur, excepturi perferendis facilis quos rem magni. Quis fuga unde aspernatur harum, ad nesciunt.
	</div>
</div>
<div class="et-section flex-row-center" id="prices">
	<div class="card et-col-single">Pris 1</div>
	<div class="card et-col-single">Pris 2</div>
	<div class="card et-col-single">Pris 3</div>
</div>
-->
