#googlemaps {
	width: 500px;
	height: 400px;
}

.circular {
	border-radius: 50%;
	overflow: hidden;

	&-200 {
		width: 200px;
		height: 200px;
	}
}

.facebook-link {
	color: #133783;
	font-weight: 900;
	text-decoration: none;
}
.mailto-link {
	text-decoration: none;
	color: inherit;
}
