<div id="page-companies" class="container-fluid" flex="column">
	<section class="container-fluid container-padding" layout="column" layout-align="center center">
		<h1 class="md-display-1">Bedrifter som deltar på Elektronikk- og Teknologidagen {{app.year}}</h1>
	</section>
	<section id="samarbeidspartnere">
		<md-list layout="column">
			<md-list-item class="container-fluid list-item-{{$index}}" ng-repeat="company in pagecomp.companies.collaborators" style="display: block;">
				<div class="container section-padding" style="margin: 0 auto;" layout-gt-sm="row" layout="column" layout-align-sm="center center" layout-align-xs="center center">
					<md-button flex="none" aria-label="toProfile{{company.name}}" ng-href="{{company.homepage}}">
						<img src="{{company.logo}}" alt="{{company.logo}}">
					</md-button>
					<div class="container container-padding">
						<div class="md-headline title-padding">{{company.name}} <span class="md-subhead">Samarbeidspartner</span></div>
						<p class="md-body-1">{{company.description}}</p>
					</div>
				</div>
			</md-list-item>
		</md-list>
	</section>
	<section class="container-fluid section-padding-2x" layout="column" layout-align="center center">
		<div class="container" layout="row" layout-align="center center" layout-wrap>
			<md-button ng-repeat="sponsor in pagecomp.companies.partners" aria-label="toProfile{{sponsor.name}}" style="height: 100px; width:150px; background: url({{sponsor.logo}}) center no-repeat; background-size: contain;" ng-href="{{sponsor.homepage}}">
			</md-button>
		</div>
	</section>
	<section class="container-fluid container-padding" layout="column" layout-align="center center" ng-if="false">
		<h1 class="md-title">Det er fortsatt åpent for påmelding for bedrifter</h1>
	</section>
</div>
