#page-companies {
	@media (max-width: 400px) {
		.md-display-1 {
			font-size: 30px;
			margin: 30px 0 5px 0;
		}
	}
	@media (max-width: 350px) {
		.md-display-1 {
			font-size: 25px;
		}
	}

	.company-widget {
		padding: 20px 0;
		border-top: 1px solid rgba(150,150,150, 0.4);
		&:first-of-type {
			border-top: none;
		}
	}
}
