#description {
	background-color: #36a;
}

#program {
	background-color: #a36;
}

#main_sponsor {
	background-color: #6a3;
}

#prices {
	background-color: #ccc;
}


#main_partner {
	background-color: #971;
}
#partners {
	background-color: #197;
}
#sponsors {
	background-color: #719;
}


.container, .container-fluid {
	position: relative;
	font-size: 1rem;
}

.container {
	width: 90%;
	max-width: 1200px;
}

.container-fluid {
	width: 100%;
}

@media (max-width: 599px){
	.container {
		font-size: 0.9rem;
		width: 100%;
	}
}
@media (max-width: 400px){
	.container {
		font-size: 0.8rem;
	}
}
