
@red-samfundet: #a03033;
@mc-light-red: #f86960;
@mc-black: #262b35;
@fb-blue: #3b5998;
@twitter-blue: #00aced;
@light-orange: #f15755;
@google-red: #d62d20;
@google-blue: #0057e7;
@google-green: #008744;
@google-yellow: #ffa700;

@breakpoint-sm: 600px;
@breakpoint-md: 960px;
@breakpoint-lg: 1200px;
