<div class="container-fluid" layout="column" layout-align="center center">
	<div class="container-fluid">
		<section>
			<md-input-container>
			  <label>Søk</label>
			  <input type="text">
			</md-input-container>
		</section>
		<section>
			<md-list>
				<md-divider></md-divider>
  			<md-subheader class="md-no-sticky">Bedrifter:</md-subheader>
				<md-list-item ng-click="hei">
					<img src="assets\images\avatar.jpg" class="md-avatar">
					<p>Nordmann og co.</p>
					<i class="fa fa-building"></i>
				</md-list-item>
				<md-list-item ng-click="hei">
					<img src="assets\images\avatar.jpg" class="md-avatar">
					<p>Mann fra Nord</p>
					<i class="fa fa-building"></i>
				</md-list-item>
				<md-divider></md-divider>
  			<md-subheader class="md-no-sticky">Personer:</md-subheader>
				<md-list-item ng-click="hei">
					<img src="assets\images\avatar.jpg" class="md-avatar">
					<p>Ola Nordmann</p>
					<i class="fa fa-user"></i>
				</md-list-item>
				<md-list-item ng-click="hei">
					<img src="assets\images\avatar.jpg" class="md-avatar">
					<p>Per Nordmann</p>
					<i class="fa fa-user"></i>
				</md-list-item>
			</md-list>
		</section>
	</div>
</div>
