<div style="width: 90%; max-width: 800px;">
  <md-dialog>
    <div layout-sm="column" layout-gt-sm="row" flex="grow">
      <md-dialog-content layout-margin flex-gt-sm="50">
        <md-list>
          <md-subheader class="md-no-sticky"><strong>Eksisterende profil</strong></md-subheader>
          <md-list-item class="md-2-line" ng-repeat="(key, value) in connect">
            <md-radio-group ng-model="radio[key]" flex="grow" md-ink-ripple="#E60000">
              <md-radio-button value="exist" class="md-primary">
                <div class="md-list-item-text">
                  <h3> {{ user[key] }} </h3>
                  <p> {{ key }} </p>
                </div>
              </md-radio-button>
            </md-radio-group>
          </md-list-item>
        </md-list>
      </md-dialog-content>
      <md-dialog-content layout-margin flex-gt-sm="50">
        <md-list>
          <md-subheader class="md-no-sticky"><strong>{{ provider }} profil</strong></md-subheader>
          <md-list-item class="md-2-line" ng-repeat="(key, value) in connect">
            <md-radio-group ng-model="radio[key]" flex="grow" md-ink-ripple="#E60000">
              <md-radio-button value="new" class="md-primary">
                <div class="md-list-item-text">
                  <h3> {{ connect[key] }} </h3>
                  <p> {{ key }} </p>
                </div>
              </md-radio-button>
            </md-radio-group>
          </md-list-item>
        </md-list>
      </md-dialog-content>
    </div>
    <md-dialog-actions>
      <md-button class="md-raised md-primary" ng-click="save()">Lagre</md-button>
    </md-dialog-actions>
  </md-dialog>
</div>
