<div style="width: 90%; max-width: 800px;">  
  <md-dialog>
    <form name="PassForm" class="login-content" ng-submit="savePass(credentials)" layout="column" layout-fill>
      <md-input-container>
        <label>Gammelt passord</label>
        <input type="password" ng-model="credentials.old" required>
      </md-input-container>
      <md-input-container>
        <label>Nytt passord</label>
        <input type="password" ng-model="credentials.new" required>
      </md-input-container>
      <md-input-container>
        <label>Bekreft passord</label>
        <input type="password" ng-model="credentials.conf" ng-pattern="credentials.new" required>
      </md-input-container>
      <div ng-messages="PassForm.$error" style="color:red" role="alert">
        <div ng-message="pattern">Passordene er ikke like</div>
      </div>
      <md-button class="md-raised md-primary md-hue-2" type="submit" aria-label="submit">Lagre passord</md-button>
    </form>

  </md-dialog>
</div>