<div id="page-settings">
	<div class="container-fluid" layout="column" layout-align="start center" style="background: #eee;">
		<div layout-gt-sm="row" layout="column" class="container">
			<section layout-padding flex>
				<md-subheader>Profilbilde</md-subheader>
				<div layout="row">
					<div ng-if="!bildeUrlShow" style="width: 10rem; height: 10rem; border-radius: 50%;
						background: url({{user.bilde || 'assets/images/avatar.png'}}) center;
						background-size: cover; overflow: hidden; border: 0.3rem solid white;
						margin-bottom: 1em;">
					</div>
					<div layout="column" flex style="padding: 1em;">
						<md-input-container>
							<input ng-model="user.bilde"></input>
						</md-input-container>
						<div layout="row">
							<md-button class="md-raised" ng-click="bildeUrlShow = !bildeUrlShow; ">Lagre bilde url</md-button>
							<md-button class="md-raised" type="delete" ng-click="user.bilde=''">Slett</md-button>
						</div>
					</div>
				</div>
			</section>
			<section layout-padding flex>
				<md-subheader>
					<div>CV (kan bare sees av bedrifter)</div>
				</md-subheader>
				<div>
					<md-list>
						<md-list-item>
							<div flex>entilfeldigfil.docs</div>
							<md-button class="md-primary md-raised"><i class="fa fa-trash"></i></md-button>
						</md-list-item>
						<md-list-item>
							<div flex></div>
							<md-button class="md-raised" style="background: #19B5FE; color: white;"><i class="fa fa-plus-circle"></i></md-button>
						</md-list-item>
					</md-list>
				</div>
			</section>
		</div>
		<div layout-gt-sm="row" layout="column" class="container">
			<section layout-padding flex>
				<md-subheader>Kontaktinformasjon</md-subheader>
				<div>
					<md-list>
						<ms-list-item layout="row">
							<md-input-container flex style="margin: 0; position: relative; top: 1.1em;">
								<label>Epostadresse</label>
								<input type="text">
							</md-input-container>
						</ms-list-item>
						<ms-list-item layout="row">
							<md-input-container flex style="margin: 0; position: relative; top: 1.1em;">
								<label>Telefon</label>
								<input type="text">
							</md-input-container>
						</ms-list-item>
						<ms-list-item layout="row">
							<md-input-container flex style="margin: 0; position: relative; top: 1.1em;">
								<label>Adresse</label>
								<input type="text">
							</md-input-container>
						</ms-list-item>
					</md-list>
					<div layout="row" layout-align="end">
						<md-button class="md-raised" aria-label="SaveCard" style="background: #2ECC71; color: white;" ng-click="saveUser()">
							<md-tooltip md-direction="top">Lagre endringer</md-tooltip>
							<i class="fa fa-save"></i>
						</md-button>
					</div>
				</div>
			</section>
			<section layout-padding flex>
				<md-subheader>Koble sammen kontoer</md-subheader>
				<div>
					<md-list>
						<md-list-item>
							<a class="login-with-button facebook md-whiteframe-1dp" ng-click="setCookie('/auth/connect/facebook')" md-ink-ripple>
								<div class="logo-container">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 216 216" style="height: 100%;">
										<path fill="white" d="
											M204.1 0H11.9C5.3 0 0 5.3 0 11.9v192.2c0 6.6 5.3 11.9 11.9
											11.9h103.5v-83.6H87.2V99.8h28.1v-24c0-27.9 17-43.1 41.9-43.1
											11.9 0 22.2.9 25.2 1.3v29.2h-17.3c-13.5 0-16.2 6.4-16.2
											15.9v20.8h32.3l-4.2 32.6h-28V216h55c6.6 0 11.9-5.3
											11.9-11.9V11.9C216 5.3 210.7 0 204.1 0z">
										</path>
									</svg>
								</div>
								<div class="text-container">Knytt til Facebook</div>
							</a>
							<div flex></div>
							<md-button class="md-raised" style="background-color: #ECF0F1;" aria-label="Connect">
								<md-tooltip md-direction="right">Koble til</md-tooltip>
								<i class="fa fa-link"></i>
							</md-button>
						</md-list-item>
						<md-list-item>
							<a class="login-with-button google md-whiteframe-1dp" ng-click="setCookie('/auth/connect/google')" md-ink-ripple>
								<div class="logo-container">
									<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
										height="100%" viewBox="0 0 400 400" enable-background="new 0 0 400 400" xml:space="preserve">
										<g><path fill="#FFFFFF" d="M142.9,24.2C97.6,39.7,59,73.6,37.5,116.5c-7.5,14.8-12.9,30.5-16.2,46.8c-8.2,40.4-2.5,83.5,16.1,120.3
											c12.1,24,29.5,45.4,50.5,62.1c19.9,15.8,43,27.6,67.6,34.1c31,8.3,64,8.1,95.2,1c28.2-6.5,54.9-20,76.2-39.6
											c22.5-20.7,38.6-47.9,47.1-77.2c9.3-31.9,10.5-66,4.7-98.8c-58.3,0-116.7,0-175,0c0,24.2,0,48.4,0,72.6c33.8,0,67.6,0,101.4,0
											c-3.9,23.2-17.7,44.4-37.2,57.5c-12.3,8.3-26.4,13.6-41,16.2c-14.6,2.5-29.8,2.8-44.4-0.1c-14.9-3-29-9.2-41.4-17.9
											c-19.8-13.9-34.9-34.2-42.6-57.1c-7.9-23.3-8-49.2,0-72.4c5.6-16.4,14.8-31.5,27-43.9c15-15.4,34.5-26.4,55.6-30.9
											c18-3.8,37-3.1,54.6,2.2c15,4.5,28.8,12.8,40.1,23.6c11.4-11.4,22.8-22.8,34.2-34.2c6-6.1,12.3-12,18.1-18.3
											c-17.3-16-37.7-28.9-59.9-37.1C228.2,10.6,183.2,10.3,142.9,24.2z"/>
											<g><path fill="#EA4335" d="M142.9,24.2c40.2-13.9,85.3-13.6,125.3,1.1c22.2,8.2,42.5,21,59.9,37.1c-5.8,6.3-12.1,12.2-18.1,18.3
												c-11.4,11.4-22.8,22.8-34.2,34.2c-11.3-10.8-25.1-19-40.1-23.6c-17.6-5.3-36.6-6.1-54.6-2.2c-21,4.5-40.5,15.5-55.6,30.9
												c-12.2,12.3-21.4,27.5-27,43.9c-20.3-15.8-40.6-31.5-61-47.3C59,73.6,97.6,39.7,142.9,24.2z"/></g>
											<g><path fill="#FBBC05" d="M21.4,163.2c3.3-16.2,8.7-32,16.2-46.8c20.3,15.8,40.6,31.5,61,47.3c-8,23.3-8,49.2,0,72.4
												c-20.3,15.8-40.6,31.6-60.9,47.3C18.9,246.7,13.2,203.6,21.4,163.2z"/></g>
											<g><path fill="#4285F4" d="M203.7,165.1c58.3,0,116.7,0,175,0c5.8,32.7,4.5,66.8-4.7,98.8c-8.5,29.3-24.6,56.5-47.1,77.2
												c-19.7-15.3-39.4-30.6-59.1-45.9c19.5-13.1,33.3-34.3,37.2-57.5c-33.8,0-67.6,0-101.4,0C203.7,213.5,203.7,189.3,203.7,165.1z"/></g>
											<g><path fill="#34A853" d="M37.5,283.5c20.3-15.7,40.6-31.5,60.9-47.3c7.8,22.9,22.8,43.2,42.6,57.1c12.4,8.7,26.6,14.9,41.4,17.9
												c14.6,3,29.7,2.6,44.4,0.1c14.6-2.6,28.7-7.9,41-16.2c19.7,15.3,39.4,30.6,59.1,45.9c-21.3,19.7-48,33.1-76.2,39.6
												c-31.2,7.1-64.2,7.3-95.2-1c-24.6-6.5-47.7-18.2-67.6-34.1C67,328.9,49.6,307.5,37.5,283.5z"/></g>
										</g>
									</svg>
								</div>
								<div class="text-container">Knytt til Goolge</div>
							</a>
							<div flex></div>
							<md-button class="md-raised" style="background-color: #ECF0F1;" aria-label="Connect">
								<md-tooltip md-direction="right">Koble til</md-tooltip>
								<i class="fa fa-link"></i>
							</md-button>
						</md-list-item>
						<md-list-item>
							<a class="login-with-button feide md-whiteframe-1dp" ng-click="setCookie('/auth/connect/feide')" md-ink-ripple>
								<div class="logo-container">
									<svg version="1.0" xmlns="http://www.w3.org/2000/svg"
										height="100%" viewBox="0 0 600.000000 600.000000"
										preserveAspectRatio="xMidYMid meet">
										<g transform="translate(0.000000,600.000000) scale(0.100000,-0.100000)"
											fill="#ffffff" stroke="none">
											<path d="M2805 5994 c-610 -60 -1049 -213 -1500 -522 -1180 -808 -1623 -2338
												-1059 -3655 384 -898 1197 -1560 2149 -1752 232 -47 355 -59 605 -59 250 0
												373 12 605 59 487 98 964 331 1339 654 132 113 346 339 439 464 335 446 515
												890 594 1457 24 174 24 548 0 720 -63 453 -188 817 -406 1182 -204 341 -508
												670 -833 901 -500 355 -1064 540 -1683 551 -115 2 -228 2 -250 0z m460 -479
												c410 -41 803 -184 1150 -418 179 -121 434 -355 557 -512 263 -336 428 -689
												507 -1080 93 -462 52 -973 -111 -1395 -137 -354 -315 -627 -583 -895 -155
												-155 -275 -252 -443 -358 -682 -430 -1541 -506 -2289 -202 -216 88 -393 189
												-590 337 -111 83 -353 318 -435 423 -316 405 -491 831 -543 1318 -82 783 194
												1540 761 2087 542 523 1266 772 2019 695z"/>
											<path d="M2885 4720 c-185 -40 -346 -182 -407 -358 -33 -96 -33 -268 0 -364
												42 -121 117 -211 260 -308 l22 -15 -20 -145 c-23 -164 -33 -239 -90 -670 -22
												-168 -51 -388 -65 -490 -23 -165 -101 -752 -125 -935 -5 -38 -10 -76 -10 -82
												0 -10 117 -13 550 -13 517 0 550 1 550 18 0 9 -7 64 -15 122 -37 276 -87 652
												-95 715 -12 90 -83 625 -115 865 -14 102 -36 271 -50 375 -14 105 -27 202 -29
												216 -4 23 4 32 70 78 91 63 162 155 201 261 25 66 28 89 28 190 0 101 -3 124
												-28 190 -55 150 -174 269 -323 326 -76 29 -233 41 -309 24z"/>
										</g>
									</svg>
								</div>
								<div class="text-container">Knytt til Feide</div>
							</a>
							<div flex></div>
							<md-button class="md-raised" style="background-color: #ECF0F1;" aria-label="Connect">
								<md-tooltip md-direction="right">Koble til</md-tooltip>
								<i class="fa fa-link"></i>
							</md-button>
						</md-list-item>
					</md-list>
				</div>
			</section>
		</div>
		<div layout="column" class="container">
			<section layout-margin class="md-whiteframe-2dp" style="border-radius: 4px; overflow: hidden;">
				<md-subheader>Kort</md-subheader>
				<div layout="column">
					<div layout="column">
						<div ng-if="!cardlist.length">Du har ingen kort</div>
						<setting-card ng-repeat="card in cardlist"
							setting-card-type="card.settingCardType"
							visible="card.visible"
							card-title="card.cardTitle"
							list="card.list"
							htmlcontent="card.htmlcontent"
							delete-card="deleteCard($index)">
						</setting-card>
					</div>
					<div layout="row" layout-align="end">
						<div style="margin-bottom: 2em;">
							<md-button class="md-raised"  aria-label="AddCardMenu" style="background: #19B5FE; color: white;" ng-click="addNewTextCard()">
								<md-tooltip md-direction="bottom">Nytt tekst-kort</md-tooltip>
								<i class="fa fa-paragraph"></i>
							</md-button>
							<md-button class="md-raised" aria-label="AddCardMenu" style="background: #19B5FE; color: white;" ng-click="addNewListCard()">
								<md-tooltip md-direction="bottom">Nytt liste-kort</md-tooltip>
								<i class="fa fa-list"></i>
							</md-button>
							<md-button class="md-raised" aria-label="AddCardMenu" style="background: #2ECC71; color: white;" ng-click="saveUser()">
								<md-tooltip md-direction="bottom">Lagre</md-tooltip>
								<i class="fa fa-save"></i>
							</md-button>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
  <section class="section-padding" layout="column" layout-align="center center" style="background: #eee;" ng-show="false">
    <div class="container" style="max-width:800px;">
      <div layout-gt-sm="row">
        <md-card flex-gt-sm="50">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Profilbilde</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <div layout="row" layout-align="center center">
              <div ng-if="!bildeUrlShow" style="width: 10rem; height: 10rem; border-radius: 50%;
              background: url({{user.bilde || 'assets/images/avatar.png'}}) center;
              background-size: cover; overflow: hidden; border: 0.3rem solid white;
              margin-bottom: 1em;">
              </div>
              <md-input-container ng-if="bildeUrlShow" flex>
                <textarea  columns="4" ng-model="user.bilde"></textarea>
              </md-input-container>
            </div>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="bildeUrlShow = !bildeUrlShow; ">
                  Lagre bilde url
                </md-button>
              <md-button type="delete" class="md-warn" ng-click="user.bilde=''">Slett</md-button>
            </md-card-actions>
          </md-card-content>
        </md-card>
        <md-card flex-gt-sm="50">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">CV (kan bare sees av bedrifter)</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <div ng-show="user.filer[0].navn">
              <i class="fa fa-file-o"></i>
              <label>{{filename}}</label>
            </div>
            <md-card-actions layout="row" layout-align="end center">
              <md-button>
                <label for="cv-input">Last opp</label>
              </md-button>
              <input id="cv-input" type="file" ng-hide=true nv-file-select uploader="uploader">
              <md-button class="md-warn" ng-click="deleteFile()">Slett</md-button>
            </md-card-actions>
          </md-card-content>
        </md-card>
      </div>
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Litt om meg</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content layout="row">
          <md-input-container flex>
            <label>Beskrivelse</label>
            <textarea name="bio" ng-model="user.bio" md-maxlength="500"></textarea>
            <div ng-messages="userForm.bio.$error" ng-show="userForm.bio.$dirty">
              <div ng-message="md-maxlength">Det er mer en nok!</div>
            </div>
          </md-input-container>
        </md-card-content>
      </md-card>
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Kontaktinformasjon</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <div layout-gt-sm="row">
            <md-input-container flex-gt-sm="50" class="md-block">
              <label>Telefonnummer</label>
              <input type="text" ng-model="user.tlf"
              ng-pattern="/^[0-9]{8}$/">
            </md-input-container>
            <md-input-container flex-gt-sm="50" class="md-block">
              <label>Epostadresse</label>
              <input type="email" ng-model="user.email">
            </md-input-container>
          </div>
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm="50">
              <label>Adresse</label>
              <input ng-model="user.adresse[0]">
            </md-input-container>
            <md-input-container class="md-block" flex="none">
              <label>Postnummer</label>
              <input name="postalCode" ng-model="user.adresse[1]"
              ng-pattern="/^[0-9]{4}$/">
            </md-input-container>
            <md-input-container class="md-block" flex="none">
              <label>Poststed</label>
              <input ng-model="user.adresse[2]">
            </md-input-container>
          </div>
        </md-card-content>
      </md-card>




      <md-list-item class="container" ng-repeat="card in cards" ng-init="cardIndex = $index">
        <md-card flex>
          <md-card-title>
            <md-card-title-text>
              <md-input-container>
                <label>Kategori</label>
                <textarea ng-model="cards[cardIndex][0]" ng-change="continueCards('head',cardIndex)"></textarea>
              </md-input-container>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <div layout-gt-sm="row" ng-repeat="row in cards[cardIndex][1]">
              <md-input-container flex="initial">
                <label>Hva</label>
                <textarea ng-model="cards[cardIndex][1][$index][0]" ng-change="continueCards('key',cardIndex, $index)"></textarea>
              </md-input-container>
              <md-input-container flex>
                <label>Beskrivelse</label>
                <input ng-model="cards[cardIndex][1][$index][1]" ng-change="continueCards('value',cardIndex, $index)">
              </md-input-container>
            </div>
          </md-card-content>
        </md-card>
      </md-list-item>



      <!--
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Eksterne lenker</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <div layout-gt-sm="row">
            <md-input-container flex="initial">
              <label>Lenkenavn</label>
              <textarea></textarea>
            </md-input-container>
            <md-input-container flex>
              <label>URL</label>
              <input>
            </md-input-container>
          </div>
          <div layout-gt-sm="row">
            <md-input-container flex="initial">
              <label>Lenkenavn</label>
              <input>
            </md-input-container>
            <md-input-container flex>
              <label>URL</label>
              <input>
            </md-input-container>
          </div>
        </md-card-content>
      </md-card>
      -->
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Tagger</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <et-tags requirematch=false selected-tags="user.tags" promise="promise"></et-tags>
        </md-card-content>
      </md-card>
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Knytt kontoer</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content layout="row" layout-align="center center">
          <a class="login-with-button facebook md-whiteframe-1dp" ng-click="setCookie('/auth/connect/facebook')" md-ink-ripple>
            <div class="logo-container">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 216 216" style="height: 100%;">
                <path fill="white" d="
                M204.1 0H11.9C5.3 0 0 5.3 0 11.9v192.2c0 6.6 5.3 11.9 11.9
                11.9h103.5v-83.6H87.2V99.8h28.1v-24c0-27.9 17-43.1 41.9-43.1
                11.9 0 22.2.9 25.2 1.3v29.2h-17.3c-13.5 0-16.2 6.4-16.2
                15.9v20.8h32.3l-4.2 32.6h-28V216h55c6.6 0 11.9-5.3
                11.9-11.9V11.9C216 5.3 210.7 0 204.1 0z">
                </path>
              </svg>
            </div>
            <div class="text-container">Knytt til Facebook</div>
          </a>
          <a class="login-with-button google md-whiteframe-1dp" ng-click="setCookie('/auth/connect/google')" md-ink-ripple>
            <div class="logo-container">
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              height="100%" viewBox="0 0 400 400" enable-background="new 0 0 400 400" xml:space="preserve">
                <g><path fill="#FFFFFF" d="M142.9,24.2C97.6,39.7,59,73.6,37.5,116.5c-7.5,14.8-12.9,30.5-16.2,46.8c-8.2,40.4-2.5,83.5,16.1,120.3
                c12.1,24,29.5,45.4,50.5,62.1c19.9,15.8,43,27.6,67.6,34.1c31,8.3,64,8.1,95.2,1c28.2-6.5,54.9-20,76.2-39.6
                c22.5-20.7,38.6-47.9,47.1-77.2c9.3-31.9,10.5-66,4.7-98.8c-58.3,0-116.7,0-175,0c0,24.2,0,48.4,0,72.6c33.8,0,67.6,0,101.4,0
                c-3.9,23.2-17.7,44.4-37.2,57.5c-12.3,8.3-26.4,13.6-41,16.2c-14.6,2.5-29.8,2.8-44.4-0.1c-14.9-3-29-9.2-41.4-17.9
                c-19.8-13.9-34.9-34.2-42.6-57.1c-7.9-23.3-8-49.2,0-72.4c5.6-16.4,14.8-31.5,27-43.9c15-15.4,34.5-26.4,55.6-30.9
                c18-3.8,37-3.1,54.6,2.2c15,4.5,28.8,12.8,40.1,23.6c11.4-11.4,22.8-22.8,34.2-34.2c6-6.1,12.3-12,18.1-18.3
                c-17.3-16-37.7-28.9-59.9-37.1C228.2,10.6,183.2,10.3,142.9,24.2z"/>
                  <g><path fill="#EA4335" d="M142.9,24.2c40.2-13.9,85.3-13.6,125.3,1.1c22.2,8.2,42.5,21,59.9,37.1c-5.8,6.3-12.1,12.2-18.1,18.3
                    c-11.4,11.4-22.8,22.8-34.2,34.2c-11.3-10.8-25.1-19-40.1-23.6c-17.6-5.3-36.6-6.1-54.6-2.2c-21,4.5-40.5,15.5-55.6,30.9
                    c-12.2,12.3-21.4,27.5-27,43.9c-20.3-15.8-40.6-31.5-61-47.3C59,73.6,97.6,39.7,142.9,24.2z"/>
                  </g>
                  <g><path fill="#FBBC05" d="M21.4,163.2c3.3-16.2,8.7-32,16.2-46.8c20.3,15.8,40.6,31.5,61,47.3c-8,23.3-8,49.2,0,72.4
                    c-20.3,15.8-40.6,31.6-60.9,47.3C18.9,246.7,13.2,203.6,21.4,163.2z"/>
                  </g>
                  <g><path fill="#4285F4" d="M203.7,165.1c58.3,0,116.7,0,175,0c5.8,32.7,4.5,66.8-4.7,98.8c-8.5,29.3-24.6,56.5-47.1,77.2
                    c-19.7-15.3-39.4-30.6-59.1-45.9c19.5-13.1,33.3-34.3,37.2-57.5c-33.8,0-67.6,0-101.4,0C203.7,213.5,203.7,189.3,203.7,165.1z"/>
                  </g>
                  <g><path fill="#34A853" d="M37.5,283.5c20.3-15.7,40.6-31.5,60.9-47.3c7.8,22.9,22.8,43.2,42.6,57.1c12.4,8.7,26.6,14.9,41.4,17.9
                    c14.6,3,29.7,2.6,44.4,0.1c14.6-2.6,28.7-7.9,41-16.2c19.7,15.3,39.4,30.6,59.1,45.9c-21.3,19.7-48,33.1-76.2,39.6
                    c-31.2,7.1-64.2,7.3-95.2-1c-24.6-6.5-47.7-18.2-67.6-34.1C67,328.9,49.6,307.5,37.5,283.5z"/>
                  </g>
                </g>
              </svg>
            </div>
            <div class="text-container">Knytt til Goolge</div>
          </a>
          <a class="login-with-button feide md-whiteframe-1dp" ng-click="setCookie('/auth/connect/feide')" md-ink-ripple>
            <div class="logo-container">
              <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
              height="100%" viewBox="0 0 600.000000 600.000000"
              preserveAspectRatio="xMidYMid meet">
                <g transform="translate(0.000000,600.000000) scale(0.100000,-0.100000)"
                fill="#ffffff" stroke="none">
                <path d="M2805 5994 c-610 -60 -1049 -213 -1500 -522 -1180 -808 -1623 -2338
                -1059 -3655 384 -898 1197 -1560 2149 -1752 232 -47 355 -59 605 -59 250 0
                373 12 605 59 487 98 964 331 1339 654 132 113 346 339 439 464 335 446 515
                890 594 1457 24 174 24 548 0 720 -63 453 -188 817 -406 1182 -204 341 -508
                670 -833 901 -500 355 -1064 540 -1683 551 -115 2 -228 2 -250 0z m460 -479
                c410 -41 803 -184 1150 -418 179 -121 434 -355 557 -512 263 -336 428 -689
                507 -1080 93 -462 52 -973 -111 -1395 -137 -354 -315 -627 -583 -895 -155
                -155 -275 -252 -443 -358 -682 -430 -1541 -506 -2289 -202 -216 88 -393 189
                -590 337 -111 83 -353 318 -435 423 -316 405 -491 831 -543 1318 -82 783 194
                1540 761 2087 542 523 1266 772 2019 695z"/>
                <path d="M2885 4720 c-185 -40 -346 -182 -407 -358 -33 -96 -33 -268 0 -364
                42 -121 117 -211 260 -308 l22 -15 -20 -145 c-23 -164 -33 -239 -90 -670 -22
                -168 -51 -388 -65 -490 -23 -165 -101 -752 -125 -935 -5 -38 -10 -76 -10 -82
                0 -10 117 -13 550 -13 517 0 550 1 550 18 0 9 -7 64 -15 122 -37 276 -87 652
                -95 715 -12 90 -83 625 -115 865 -14 102 -36 271 -50 375 -14 105 -27 202 -29
                216 -4 23 4 32 70 78 91 63 162 155 201 261 25 66 28 89 28 190 0 101 -3 124
                -28 190 -55 150 -174 269 -323 326 -76 29 -233 41 -309 24z"/>
                </g>
              </svg>
            </div>
            <div class="text-container">Logg inn med Feide</div>
          </a>
        </md-card-content>
      </md-card>
      <md-button class="md-raised md-primary md-hue-2" ng-click="saveUser()">Lagre profil</md-button>
      <md-button class="md-raised md-primary md-hue-2" ng-click="changePass()">Endre Passord</md-button>
    </div>
  </section>
</div>
