<div>
  <section class="section-padding" layout="column" layout-align="center center" style="background: #eee;">
    <div class="container" style="max-width:800px;">
      <div layout-gt-sm="row">
        <md-card flex-gt-sm="50">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Profilbilde</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <div layout="row" layout-align="center center">
              <div style="width: 10rem; height: 10rem; border-radius: 50%;
              background: url({{user.bilde || 'assets/images/avatar.jpg'}}) center;
              background-size: cover; overflow: hidden; border: 0.3rem solid white;
              margin-bottom: 1em;">
              </div>
            </div>
            <md-card-actions layout="row" layout-align="end center">
              <div ng-controller="UploadController">
                <md-button ng-click="showUpload($event)">
                  Last opp
                </md-button>
              </div>
              <md-button type="delete" class="md-warn">Slett</md-button>
            </md-card-actions>
          </md-card-content>
        </md-card>
        <md-card flex-gt-sm="50">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">CV</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <md-card-actions layout="row" layout-align="end center">
              <md-button type="submit">Last opp</md-button>
              <md-button type="delete" class="md-warn">Slett</md-button>
            </md-card-actions>
          </md-card-content>
        </md-card>
      </div>
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Litt om meg</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content layout="row">
          <md-input-container flex>
            <label>Beskrivelse</label>
            <textarea name="bio" ng-model="user.bio" md-maxlength="500"></textarea>
            <div ng-messages="userForm.bio.$error" ng-show="userForm.bio.$dirty">
              <div ng-message="md-maxlength">Det er mer en nok!</div>
            </div>
          </md-input-container>
        </md-card-content>
      </md-card>
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Kontaktinformasjon</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <div layout-gt-sm="row">
            <md-input-container flex-gt-sm="50" class="md-block">
              <label>Telefonnummer</label>
              <input ng-model="user.phone"
              ng-pattern="/^[0-9]{8}$/">
            </md-input-container>
            <md-input-container flex-gt-sm="50" class="md-block">
              <label>Epostadresse</label>
              <input ng-model="user.email">
            </md-input-container>
          </div>
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm="50">
              <label>Adresse</label>
              <input ng-model="user.address">
            </md-input-container>
            <md-input-container class="md-block" flex="none">
              <label>Postnummer</label>
              <input name="postalCode" ng-model="user.postalCode"
              ng-pattern="/^[0-9]{4}$/">
            </md-input-container>
            <md-input-container class="md-block" flex="none">
              <label>Poststed</label>
              <input ng-model="user.city">
            </md-input-container>
          </div>
        </md-card-content>
      </md-card>
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Eksterne lenker</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <div layout-gt-sm="row">
            <md-input-container flex="initial">
              <label>Lenkenavn</label>
              <textarea></textarea>
            </md-input-container>
            <md-input-container flex>
              <label>URL</label>
              <input>
            </md-input-container>
          </div>
          <div layout-gt-sm="row">
            <md-input-container flex="initial">
              <label>Lenkenavn</label>
              <input>
            </md-input-container>
            <md-input-container flex>
              <label>URL</label>
              <input>
            </md-input-container>
          </div>
          <div layout-gt-sm="row">
            <md-input-container flex="initial">
              <label>Lenkenavn</label>
              <input>
            </md-input-container>
            <md-input-container flex>
              <label>URL</label>
              <input>
            </md-input-container>
          </div>
          <div layout-gt-sm="row">
            <md-input-container flex="initial">
              <label>Lenkenavn</label>
              <input>
            </md-input-container>
            <md-input-container flex>
              <label>URL</label>
              <input>
            </md-input-container>
          </div>
          <div layout-gt-sm="row">
            <md-input-container flex="initial">
              <label>Lenkenavn</label>
              <input>
            </md-input-container>
            <md-input-container flex>
              <label>URL</label>
              <input>
            </md-input-container>
          </div>
        </md-card-content>
      </md-card>
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Tagger</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <md-chips ng-model="SettingsCtrl.selectedVegetables" md-autocomplete-snap="" md-transform-chip="SettingsCtrl.transformChip($chip)" md-require-match="SettingsCtrl.autocompleteDemoRequireMatch">
            <md-autocomplete md-selected-item="SettingsCtrl.selectedItem" md-search-text="SettingsCtrl.searchText" md-items="item in SettingsCtrl.querySearch(SettingsCtrl.searchText)" md-item-text="item.name" placeholder="Skriv for å legge inn tagger">
              <span md-highlight-text="SettingsCtrl.searchText">{{item.name}} :: {{item.type}}</span>
            </md-autocomplete>
            <md-chip-template>
              <span>
                <strong>{{$chip.name}}</strong>
                <em>({{$chip.type}})</em>
              </span>
            </md-chip-template>
          </md-chips>
        </md-card-content>
      </md-card>
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Knytt kontoer</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content layout="row" layout-align="center center">
          <md-button class="fb-link md-raised" ng-href="../auth/facebook" style="color: #3b5998" aria-label="fb-login"><div class="link-img" layout-fill></div></md-button>
          <md-button class="google-link md-raised" ng-href="../auth/google" style="color: #d62d20" aria-label="google-login"><div class="link-img" layout-fill></div></md-button>
          <md-button class="ntnu-link md-raised" ng-href="../auth/feide" style="color: #0057e7" aria-label="ntnu-login"><div class="link-img" layout-fill></div></md-button>
        </md-card-content>
      </md-card>
      <md-button class="md-raised md-primary">Lagre profil</md-button>
    </div>
  </section>
</div>
