<div id="page-login" class="container-fluid" layout="column" layout-align="start center">
	<section layout="column" layout-align="center center" class="container">
		<div ng-messages="LOGIN.error" style="color:red" role="alert">
		  <div ng-message="nameOrPass">
			<i class="fa fa-exclamation-triangle"></i>
			<span>Feil epost eller passord</span>
		  </div>
		</div>
		<div style="min-height: 200px; width: 100%; max-width: 800px; margin: 3rem 0;" layout-gt-sm="row" layout-sm="column">
			<div flex layout="column" layout-align="center center" style="margin: 0 1em;">
				<a class="login-with-button facebook md-whiteframe-1dp" ng-href="../auth/facebook" md-ink-ripple>
					<div class="logo-container">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 216 216" style="height: 100%;">
							<path fill="white" d="
							M204.1 0H11.9C5.3 0 0 5.3 0 11.9v192.2c0 6.6 5.3 11.9 11.9
							11.9h103.5v-83.6H87.2V99.8h28.1v-24c0-27.9 17-43.1 41.9-43.1
							11.9 0 22.2.9 25.2 1.3v29.2h-17.3c-13.5 0-16.2 6.4-16.2
							15.9v20.8h32.3l-4.2 32.6h-28V216h55c6.6 0 11.9-5.3
							11.9-11.9V11.9C216 5.3 210.7 0 204.1 0z">
							</path>
						</svg>
					</div>
					<div class="text-container">Logg inn med Facebook</div>
				</a>
				<a class="login-with-button google md-whiteframe-1dp" ng-href="../auth/google" md-ink-ripple>
					<div class="logo-container">
						<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						height="100%" viewBox="0 0 400 400" enable-background="new 0 0 400 400" xml:space="preserve">
							<g><path fill="#FFFFFF" d="M142.9,24.2C97.6,39.7,59,73.6,37.5,116.5c-7.5,14.8-12.9,30.5-16.2,46.8c-8.2,40.4-2.5,83.5,16.1,120.3
							c12.1,24,29.5,45.4,50.5,62.1c19.9,15.8,43,27.6,67.6,34.1c31,8.3,64,8.1,95.2,1c28.2-6.5,54.9-20,76.2-39.6
							c22.5-20.7,38.6-47.9,47.1-77.2c9.3-31.9,10.5-66,4.7-98.8c-58.3,0-116.7,0-175,0c0,24.2,0,48.4,0,72.6c33.8,0,67.6,0,101.4,0
							c-3.9,23.2-17.7,44.4-37.2,57.5c-12.3,8.3-26.4,13.6-41,16.2c-14.6,2.5-29.8,2.8-44.4-0.1c-14.9-3-29-9.2-41.4-17.9
							c-19.8-13.9-34.9-34.2-42.6-57.1c-7.9-23.3-8-49.2,0-72.4c5.6-16.4,14.8-31.5,27-43.9c15-15.4,34.5-26.4,55.6-30.9
							c18-3.8,37-3.1,54.6,2.2c15,4.5,28.8,12.8,40.1,23.6c11.4-11.4,22.8-22.8,34.2-34.2c6-6.1,12.3-12,18.1-18.3
							c-17.3-16-37.7-28.9-59.9-37.1C228.2,10.6,183.2,10.3,142.9,24.2z"/>
								<g><path fill="#EA4335" d="M142.9,24.2c40.2-13.9,85.3-13.6,125.3,1.1c22.2,8.2,42.5,21,59.9,37.1c-5.8,6.3-12.1,12.2-18.1,18.3
									c-11.4,11.4-22.8,22.8-34.2,34.2c-11.3-10.8-25.1-19-40.1-23.6c-17.6-5.3-36.6-6.1-54.6-2.2c-21,4.5-40.5,15.5-55.6,30.9
									c-12.2,12.3-21.4,27.5-27,43.9c-20.3-15.8-40.6-31.5-61-47.3C59,73.6,97.6,39.7,142.9,24.2z"/>
								</g>
								<g><path fill="#FBBC05" d="M21.4,163.2c3.3-16.2,8.7-32,16.2-46.8c20.3,15.8,40.6,31.5,61,47.3c-8,23.3-8,49.2,0,72.4
									c-20.3,15.8-40.6,31.6-60.9,47.3C18.9,246.7,13.2,203.6,21.4,163.2z"/>
								</g>
								<g><path fill="#4285F4" d="M203.7,165.1c58.3,0,116.7,0,175,0c5.8,32.7,4.5,66.8-4.7,98.8c-8.5,29.3-24.6,56.5-47.1,77.2
									c-19.7-15.3-39.4-30.6-59.1-45.9c19.5-13.1,33.3-34.3,37.2-57.5c-33.8,0-67.6,0-101.4,0C203.7,213.5,203.7,189.3,203.7,165.1z"/>
								</g>
								<g><path fill="#34A853" d="M37.5,283.5c20.3-15.7,40.6-31.5,60.9-47.3c7.8,22.9,22.8,43.2,42.6,57.1c12.4,8.7,26.6,14.9,41.4,17.9
									c14.6,3,29.7,2.6,44.4,0.1c14.6-2.6,28.7-7.9,41-16.2c19.7,15.3,39.4,30.6,59.1,45.9c-21.3,19.7-48,33.1-76.2,39.6
									c-31.2,7.1-64.2,7.3-95.2-1c-24.6-6.5-47.7-18.2-67.6-34.1C67,328.9,49.6,307.5,37.5,283.5z"/>
								</g>
							</g>
						</svg>
					</div>
					<div class="text-container">Logg inn med Goolge</div>
				</a>
				<a class="login-with-button feide md-whiteframe-1dp" ng-href="../auth/feide" md-ink-ripple>
					<div class="logo-container">
						<svg version="1.0" xmlns="http://www.w3.org/2000/svg"
						height="100%" viewBox="0 0 600.000000 600.000000"
						preserveAspectRatio="xMidYMid meet">
							<g transform="translate(0.000000,600.000000) scale(0.100000,-0.100000)"
							fill="#ffffff" stroke="none">
							<path d="M2805 5994 c-610 -60 -1049 -213 -1500 -522 -1180 -808 -1623 -2338
							-1059 -3655 384 -898 1197 -1560 2149 -1752 232 -47 355 -59 605 -59 250 0
							373 12 605 59 487 98 964 331 1339 654 132 113 346 339 439 464 335 446 515
							890 594 1457 24 174 24 548 0 720 -63 453 -188 817 -406 1182 -204 341 -508
							670 -833 901 -500 355 -1064 540 -1683 551 -115 2 -228 2 -250 0z m460 -479
							c410 -41 803 -184 1150 -418 179 -121 434 -355 557 -512 263 -336 428 -689
							507 -1080 93 -462 52 -973 -111 -1395 -137 -354 -315 -627 -583 -895 -155
							-155 -275 -252 -443 -358 -682 -430 -1541 -506 -2289 -202 -216 88 -393 189
							-590 337 -111 83 -353 318 -435 423 -316 405 -491 831 -543 1318 -82 783 194
							1540 761 2087 542 523 1266 772 2019 695z"/>
							<path d="M2885 4720 c-185 -40 -346 -182 -407 -358 -33 -96 -33 -268 0 -364
							42 -121 117 -211 260 -308 l22 -15 -20 -145 c-23 -164 -33 -239 -90 -670 -22
							-168 -51 -388 -65 -490 -23 -165 -101 -752 -125 -935 -5 -38 -10 -76 -10 -82
							0 -10 117 -13 550 -13 517 0 550 1 550 18 0 9 -7 64 -15 122 -37 276 -87 652
							-95 715 -12 90 -83 625 -115 865 -14 102 -36 271 -50 375 -14 105 -27 202 -29
							216 -4 23 4 32 70 78 91 63 162 155 201 261 25 66 28 89 28 190 0 101 -3 124
							-28 190 -55 150 -174 269 -323 326 -76 29 -233 41 -309 24z"/>
							</g>
						</svg>
					</div>
					<div class="text-container">Logg inn med Feide</div>
				</a>
			</div>
			<div flex style="margin: 0 1em;">
				<form name="loginForm" class="login-content" ng-submit="LOGIN.login(credentials)" layout="column" layout-fill>
					<md-input-container>
						<label>Epost</label>
						<input type="email" ng-model="credentials.username" required>
					</md-input-container>
					<md-input-container>
						<label>Passord</label>
						<input type="password" ng-model="credentials.password" required>
					</md-input-container>
					<md-button class="md-raised md-primary md-hue-2" type="submit" aria-label="submit">Logg inn</md-button>
				</form>
			</div>
		</div>
		<div>
			<a ui-sref="forgot" class="md-body-1 mailto-link">Glemt passord</a><span class="md-body-1" style="margin: 0 1em;">|</span><a href="" ng-click="LOGIN.adduser()" class="md-body-1 mailto-link">Registrer</a>
		</div>
	</section>
	<section class="container-fluid" layout="column" layout-align="center center" ng-if="false">
		<div class="container" layout="row" layout-align="center center">
			<md-button class="fb-link md-raised" ng-href="../auth/facebook" style="color: #3b5998" aria-label="fb-login"><div class="link-img" layout-fill></div></md-button>
			<md-button class="google-link md-raised" ng-href="../auth/google" style="color: #d62d20" aria-label="google-login"><div class="link-img" layout-fill></div></md-button>
			<md-button class="ntnu-link md-raised" ng-href="../auth/feide" style="color: #0057e7" aria-label="ntnu-login"><div class="link-img" layout-fill></div></md-button>
		</div>
		<!--
		<div class="md-margin" layout="row" layout-align="center center">
			<div style="width: 100px; height: 1px; background: rgba(50,50,50,0.5);"></div>
			<div class="md-body-1 md-padding">eller</div>
			<div style="width: 100px; height: 1px; background: rgba(50,50,50,0.5);"></div>
		</div>
		-->
		<md-content layout-fill layout-margin class="container container-padding section-padding md-hue-1 login-container" layout="column" layout-align="center center">
			<form name="loginForm" class="login-content" ng-submit="LOGIN.login(credentials)" layout="column" layout-fill>
				<md-input-container>
					<label>Epost</label>
					<input type="email" ng-model="credentials.username" required>
				</md-input-container>
				<md-input-container>
					<label>Passord</label>
					<input type="password" ng-model="credentials.password" required>
				</md-input-container>
				<md-button class="md-raised md-primary md-hue-2" type="submit" aria-label="submit">Logg inn</md-button>
			</form>
			<div ng-messages="LOGIN.error" style="color:red" role="alert">
              <div ng-message="nameOrPass">
              	<i class="fa fa-exclamation-triangle"></i>
              	<span>Feil epost eller passord</span>
              </div>
            </div>
			<div layout="row" layout-margin>
				<a ui-sref="forgot" class="md-body-1">Glemt passord</a><span class="md-body-1" style="margin: 0 1em;">|</span><a href="" ng-click="LOGIN.adduser()" class="md-body-1">Registrer</a>
			</div>
		</md-content>
	</section>
</div>
