#page-login {
	.login-container {
		max-width: 30em;
		border: 1px solid rgba(0,0,0,0.1);
		border-radius: 10px;
	}
}

.login-with-button {
	&.facebook {
		background: #3b5998;
		color: white;
	}
	&.google {
		background: white;
		color: rgba(0,0,0,0.54);
	}
	&.feide {
		background: #BE1527;
		color: white;
	}
	position: relative;
	height: 40px;
	padding: 0.3em 0.6em;
	display: flex;
	flex-direction: row;
	align-items: center;
	background: transparent!default;
	border: none;
	border-radius: 4px;
	overflow: hidden;
	margin: 0.5em;
	min-width: 250px;
	text-decoration: none;
	&.disabled, &[disabled]{
		background: grey;
		color: rgba(0,0,0,0.8);
		cursor: default;
	}

	> .logo-container {
		background: transparent;
		height: 100%;
		width: auto;
		> svg, img {
			height: 100%;
		}

	}
	> .text-container {
		margin: auto 1em;
		text-decoration: none;
	}
}
