.board-links{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.board-cards-container{
	display: flex;
	justify-content: center;
	.board-cards{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		max-width: 1500px;
		.board-card{
			display: flex;
			align-items: center;
			background-image: url("../../../assets/images/ETlogos/logo.svg");
			background-position: left;
			background-repeat: no-repeat;
			background-size: 7em;
			width: 300px;
			margin: 0px;
			padding: 0px;
			.board-card-image{
				height: 80px;
				width: 80px;
				border-radius: 50%;
				background-size: cover;
				margin: 10px 20px;
				border: 1px solid @red-samfundet;
			}
			a{
				text-decoration: none;
				color: @red-samfundet;
			}
			name{
				font-weight: bold;
			}
		}
	}
}


#board-background{
	background-color: #ef5350;
}
