<div id="board-background">
	<div class="board-links">
		<md-button class="md-raised" ng-active="active" ng-repeat="link in boardlinks" ng-click="setNewActive(link)">
			{{link}}
		</md-button>
	</div>
</div>
<div class="board-cards-container" id="board-background">
	<div class="board-cards">
		<md-card  ng-repeat="person in boards[boards.active]">
			<md-card-content class="board-card">
				<div class="board-card-image" style="background-image: url(assets/images/boards/{{person.img}})">
				</div>
				<div class="board-card-content md-body-1">
					<name>{{person.name}}</name><br>
					{{person.position}} <br>
					<a href="mailto:{{person.email}}">{{person.email}}</a>
				</div>
			</md-card-content>
		</md-card>
	</div>
</div>
