<div id="et-profile" class="container-fluid md-whiteframe-2dp">
	<div class="container" layout-align="space-between">
		<div class="profile-sidenav">
			<ul class="md-caption">
				<li><a href="#"><u>Min profil</u></a></li>
				<li><a href="#">Bedrifter</a></li>
				<li><a href="#">Studenter</a></li>
			</ul>
		</div>
		<div ui-view><h1>UI-VIEW</h1></div>
		<!-- OLD HTML
		<div class="md-whiteframe-5dp" id="profile-picture" style="background-image: url(assets/images/avatar.jpg)">
		</div>
		<div id="profile-basics">
			<h2 class="md-title">Ola Nordmann</h2>
			<p class="md-caption" style="text-transform: uppercase;">Student</p>
			<table id="profile-info">
				<tr>
					<td width="80px">
						<p class="md-body-1" style="color: #555;" align="right">
							Linje<br>
							Utgangsår
						</p>
					</td>
					<td>
						<p class="md-body-1">
							Elektronikk<br>
							2018
						</p>
					</td>
				</tr>
			</table>
		</div>
		<div id="profile-cv"><p class="md-caption"><i class="fa fa-paperclip"></i> CV</p></div>
	-->
	</div>
</div>
