<div id="et-profile" class="container-fluid">
	<div id="profile-container" class="container" layout-align="space-between" layout="row" layout-sm="column">
		<div class="profile-sidenav" hide-sm>
			<ul class="md-caption">
				<li><a href="#"><u>Min profil</u></a></li>
				<li><a href="#">Bedrifter</a></li>
				<li><a href="#">Studenter</a></li>
			</ul>
		</div>
		<div hide-gt-sm class="profile-sidenav-sm">NAV</div>
		<div hide-sm class="vertical-divider md-whiteframe-1dp"></div>

	<!--
	<div ui-view><h1>UI-VIEW</h1></div>
	-->

	<div class="profile-main-view container" layout="row" layout-sm="column" layout-align-sm="center center">
		<div>
			<div class="md-whiteframe-5dp" id="profile-picture" style="background-image: url(assets/images/avatar.jpg)">
			</div>
			<table class="profile-basics-table md-body-2">
				<tr>
					<td><i class="fa fa-graduation-cap"></i></td>
					<td>Elektronikk <span>2018</span></td>
				</tr>
			</table>
		</div>
		<div id="profile-main" flex>
			<h2 class="md-headline">Ola Nordmann</h2>
			<p class="md-caption" style="text-transform: uppercase;">Student</p>
			<md-card>
				<md-card-content>
					<h2 class="md-title">Jeg liker</h2>
					<p class="md-body-1">
						C++
					</p>
				</md-card-content>
			</md-card>
			<md-card>
				<md-card-content>
					<h2 class="md-title">...men hater</h2>
					<p class="md-body-1">
						C#
					</p>
				</md-card-content>
			</md-card>
		</div>
	</div>
<div id="profile-cv"><p class="md-caption"><i class="fa fa-paperclip"></i> CV</p></div>
</div>
