<div class="container-fluid" layout="column" layout-align="center center" style="background:#eee">
	<div class="container" layout-gt-sm="row" layout="column">
		<md-card style="width: 340px; padding: 1em 2em; max-height: 500px;" layout="column">
			<md-input-container>
				<label>Brukere</label>
				<input type="text" ng-model="SearchCtrl.searchOptions.searchString">
			</md-input-container>
			<md-checkbox ng-model="SearchCtrl.searchOptions.companies" aria-label="companies-checkbox">Bedrifter</md-checkbox>
			<md-checkbox ng-model="SearchCtrl.searchOptions.students" aria-label="students-checkbox">Studenter</md-checkbox>
			<md-checkbox ng-model="SearchCtrl.searchOptions.tags" aria-label="tags-checkbox" ng-change="SearchCtrl.removeTags()">Tags</md-checkbox>
			<et-tags ng-if="SearchCtrl.searchOptions.tags" requirematch=true selected-tags="SearchCtrl.searchOptions.selectedTags"></et-tags>
		</md-card>
		<md-card id="search-results" flex>
			<md-list>
				<div ng-show="SearchCtrl.searchOptions.companies">
					<md-list-item ng-repeat="user in SearchCtrl.users | filter:SearchCtrl.searchOptions.searchString  | filterType:['bedrift','bedrift_betalt'] | filterTags:SearchCtrl.searchOptions.selectedTags" ui-sref="user({id:user.id})">
						<img src="{{user.img}}" class="md-avatar" style="border-radius: 0; height: auto;">
						<p>{{user.name}}</p>
						<i class="fa fa-building"></i>
					</md-list-item>
				</div>
				<div ng-show="SearchCtrl.searchOptions.students">
					<md-list-item ng-repeat="User in SearchCtrl.users | filter:SearchCtrl.searchOptions.searchString | filterType:['student','null', '', 'crew'] | filterTags:SearchCtrl.searchOptions.selectedTags" ui-sref="user({id:User.id})">
						<img src="{{User.img}}" alt="" class="md-avatar">
						<p>{{User.name}}</p>
						<i class="fa fa-user"></i>
					</md-list-item>
				</div>
			</md-list>
		</md-card>
	</div>
</div>
