<div id="page-news" class="page-section">

	<md-grid-list style=""
		md-cols="6" md-gutter="1em" md-row-height="4:3">
		<md-grid-tile style="background-color: red" 
			md-colspan="6" md-rowspan="4">
			<img src="/assets/images/gifs/moviegif.gif" class="md-whiteframe-1dp" layout-fill>
		</md-grid-tile>
		<md-grid-tile style="background-color: green"
			md-colspan="4" md-rowspan="4">
			<div>Elektronikk og Teknologi-dagen</div>
			<span>2016</span>
			<md-grid-tile-footer>
				<md-button>Se mer</md-button>
			</md-grid-tile-footer>
		</md-grid-tile>
		<md-grid-tile style="background-color: yellow"
			md-colspan="2" md-rowspan="2">c</md-grid-tile>
		<md-grid-tile style="background-color: pink" 
			md-colspan="2" md-rowspan="2">d</md-grid-tile>
		<md-grid-tile style="background-color: lime" 
			md-colspan="6" md-rowspan="2">e</md-grid-tile>
	</md-grid-list>

</div>