<nav id="et-navbar" class="md-whiteframe-1dp" role="navigation">
	<div class="container">
		<div class="brand"><img layout-fill src="../../assets/images/ETlogos/logo.svg" alt="E&amp;T-Dagen" ui-active="active" ui-sref="home" class="navbar-nav"></div>
		<div class="navbar-nav" ng-repeat="link in navbar.links.main" ui-active="active" ui-sref="{{link.state}}" md-ink-ripple="#a03033">
			<i class="fa {{link.icon}}"></i><span> {{link.name}}</span>
		</div>
		<div flex></div>
		<div class="navbar-nav" ng-show="false">
			<i class="fa {{navbar.links.side[1].icon}}"></i><span> {{navbar.links.side[1].name}}</span>
		</div>
	</div>
</nav>
