<footer id="et-footer" class="container-fluid md-whiteframe-2dp" layout="row">
	<div id="et-footer-container" class="container" layout="row">
		<div flex>
			<h2 class="md-title">
				Adresse
			</h2>
			<strong>E&amp;T-dagen 2016</strong><br>
			NTNU Gløshaugen<br>
			Elektrobygget<br>
			7491 TRONDHEIM
		</div>
		<div flex>
			<h2 class="md-title">
				Kontakt
			</h2>
			<strong>Generelt:</strong> <a href="mailto:post@etdagen.no"> post@etdagen.no</a><br>
			<strong>Nettside:</strong> <a href="mailto:web@itdagene.no">web@itdagene.no</a>
		</div>
		<div flex>
			<!-- Facebook like -->
			<div class="fb-page" data-href="https://www.facebook.com/etdagen" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/etdagen"><a href="https://www.facebook.com/etdagen">E&amp;T dagen</a></blockquote></div></div>
		</div>
	</div>
</footer>
