<div>

<form name='registerForm' ng-submit="register()">
  Fornavn:<br>
  <input type="text" name="fornavn" ng-model="form.fornavn" placeholder={{user.fornavn}}>
  <br>
  Etternavn:<br>
  <input type="text" name="etternavn" ng-model="form.etternavn" placeholder={{user.etternavn}}>
  <br>
  email:<br>
  <input type="text" name="email" ng-model="form.email" placeholder={{user.email}}>
  <br>
  tlf:<br>
  <input type="text" name="tlf" ng-model="form.tlf" placeholder={{user.tlf}}>
  <br>
  utgangsår:<br>
  <input type="text" name="utgangsaar" ng-model="form.utgangsaar" placeholder={{user.utgangsaar}}>
  <br>
  linje:<br>
  <input type="text" name="linje" ng-model="form.linje" placeholder={{user.linje}}>
  <br>
  fødselsdato:<br>
  <input type="text" name="fodselsdato" ng-model="form.fodelsdato" placeholder={{user.fodseldato}}>
  <br>
  <input type="submit" value="Regstrer"/>
</form>

</div>