<div class="container-fluid" layout="column" layout-align="start center">
	<section class="container" layout="column" layout-margin style="max-width: 600px;">
		  <md-input-container>
		    <label>Fornavn</label>
		    <input type="text" ng-model="form.fornavn">
		  </md-input-container>
		  <md-input-container>
		    <label>Etternavn</label>
		    <input type="text" ng-model="form.etternavn">
		  </md-input-container>
		  <md-input-container>
		    <label>Epostadresse</label>
		    <input type="text" ng-model="form.email">
		  </md-input-container>
		  <md-input-container>
		    <label>Telefonnummer</label>
		    <input type="tel" ng-model="form.tlf">
		  </md-input-container>
		  <md-input-container>
		    <label>Utgangsår</label>
		    <input type="text" ng-model="form.utgangsaar">
		  </md-input-container>
		  <md-input-container>
		    <label>Linje</label>
		    <input type="text" ng-model="form.linje">
		  </md-input-container>
		  <md-input-container>
		    <label>Fødselsdato</label>
		    <input type="text" ng-model="form.fodselsdato">
		  </md-input-container>
		  <md-input-container>
		    <label>Brukernavn</label>
		    <input type="text" ng-model="form.username">
		  </md-input-container>
		  <md-input-container>
		    <label>Passord</label>
		    <input type="password" ng-model="form.password">
		  </md-input-container>
		  <md-button class="md-raised md-primary">Registrer</md-button>
	</section>
</div>
